/*页面字体设为15px*/
body { font-size:15px;
}

 /*页标题*/
.TableTitle
{
    background-color: #0066ff; color: white; font-size: 1.4em; font-weight: bolder; text-align: center;
}
/*文本框不能移动*/
 .text {
        resize:none
    }
 .SearchNotice{
     color:white; background-color: #ff6600; font-size: 12px;
 }
 /*用于Label标签的自动换行*/
 .WordWrap{
     word-break:break-all
 }